#d_clip_container {
  position: relative;
	float: right;
	width: 48px;
	height: 48px;
}

#d_clip_button {
  color: transparent;
}

#d_clip_button:after {
  content: url('../images/copy_icon.png');
	position: absolute;
	top: 0;
}

#zero_clipboard {
  position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	z-index: 99;
}
